.nav-wrapper .fas{
  font-size: 15px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container{
  min-width: 85%;
}

.ContactForm{
  width: 90%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.125rem;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 15px 20px -10px rgba(#000, 0.1);

  background-color: darkblue;
}

.popup-content{
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 40%;
}

input, textarea {
  color: white;
}

blocknote{
  border-left: 2px solid red;
}